version: '3.8'

services:
  # Service Database pakai NeonDB

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: ${DATABASE_URL}

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      # URL Backend yang diakses oleh Browser user
      NEXT_PUBLIC_API_URL: "http://localhost:4000"
    depends_on:
      - backend

# Volume DIHAPUS karena tidak ada database lokal yang perlu disimpan